.Footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    min-height: 10vh;
    padding: 10px;
    flex-wrap: wrap;
}
.FooterLeft{
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
}
input{
    padding: 10px 20px;
    margin-right: 5px;
    border: 1px solid gray;
}
button{
    padding: 10px 20px;
}
.mainFooter{
    background-color:rgba(0, 14, 27, 0.815);
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: rgb(187, 180, 180);
}
.allright{
    align-items: center;
    text-align: center;
}